<%- include('../partials/header') %>
<form id="add-ticket-form" action="/cocktails/<%=cocktailId%>/comments" method="POST">
    
    <label>comment:</label>
    <input type="comment" name="comment">
    
  
    <input type="submit" value="Add Ticket">
  </form>
  
  <%- include('../partials/footer') %>