<%- include('../partials/header') %>
<h2>Cocktail List</h2>

<hr>

<div id="listIndex">
    <% cocktails.forEach(function(c) { %>
        <td class="detail"> <a href="/cocktails/<%= c._id %>"><%= c.title %></a>  </td>
    <% }); %> 
</div>
  




<%- include('../partials/footer') %>