<%- include('../partials/header') %>


<form action="/cocktails" method="POST">

<label>Departure Time:</label>
    <input type="datetime-local" name="departs">
  
    <button type="submit">Add flight</button>
</form>

<%- include('../partials/footer') %>