<%- include('../partials/header') %>


<form action="/cocktails" method="POST">


<div id="newCocktail"> 
<label>Name of the Drink :</label> 
 <input type="text" name="title"> 


<label>Ingredients Needed:</label>
<input type="text" name="ingredients">

<label>Description :</label>
<textarea type="text" name="description"></textarea>

</div>

<div id="addButton">
    <button type="submit">Add Drink</button>
</div>
</form>

<%- include('../partials/footer') %>