<%- include('../partials/header') %>


<form action="/cocktails" method="POST">

<label>title :</label>
<input type="text" name="title">
  
    <button type="submit">Add Drink</button>
</form>

<%- include('../partials/footer') %>